<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div id="wrapper" class="toggled">
        {% include sidebar.html %}
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#" id="menu-toggle">
                <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 459 459">
                    <path fill="{{site.accent-color}}" d="M0 382.5h459v-51H0V382.5zM0 255h459v-51H0V255zM0 76.5v51h459v-51H0z" />
                </svg>
            </a>
            <div class="container-fluid">
                <div class="col-md-8">
                    {{ content }}
                </div>
                <div class="col-md-4 text-center author-bar">
                    <div id="author-div">
                        <img class="img-circle" width="200px" src="{{site.baseurl}}{{site.author-image}}">
                        <p>Hi, I'm <strong>Sharad Shinde</strong>. I'm a <strong>Web Developer</strong> from Pune.</p>
                        <p>I write Programming tutorials on <a target="_blank" href="http://blog.sharadshinde.in"><strong>Sharz Blog</strong></a>. Check out my other works <a target="_blank" href="http://sharadshinde.in"><strong>here</strong></a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{{site.baseurl}}/js/jquery.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    {% if site.analytics %}{% include analytics.html %}{% endif %}
</body>

</html>
